/*Global*/

body {
  font-family: sans-serif, serif, arial;
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  max-width: 95%;
  width: 128px;
  display: block;
}

button {
  border-style: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
  margin: auto;
  overflow: hidden;
}

/*Header*/

header {
  text-align: center;
}

/*Playground*/

#playground {
  margin-top: 5px;
  text-align: center;
}

.container #human {
  float: left;
  margin-left: 2%;
}

#human img{
  text-align: center;
  margin: 0 auto;
}

.container #computer {
  float: right;
  margin-right: 2%;
}

#computer img{
  text-align: center;
  margin: 0 auto;
}


.box {

  margin: 10px 2px 0px 2px;
  display: inline-block;
}

.score-board {
  border: 2px solid black;
  height: 70px;
  width: 70px;
  margin: 0 auto;
  border-radius: 10px;
}

.score-board span {
  line-height: 70px;
  font-size: 35px;
}

/*Result*/

#result {
  text-align: center;
}

#result .container {
  margin-bottom: 50px;
  border-bottom: 2px solid gray;
  height: 50px;
  width: 20%;
}

/*Animation*/
.active-button {
  transform: scale(1.2);
  transition: all 1.5s;
}
