*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 35px;
}

ul li {
  padding: 5px;
  vertical-align: center;
  list-style-position: inside;
}

h4 {
  margin-top: 10px;
}

button {
  outline: none;
  background-color:inherit;
}

.active-button {
  transform: scale(1.2);
  transition: all 1.5s;
}

img {
  max-width: 95%;
}


.main-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

.welcome {
  position: relative;
  text-align: center;
  top: 15px;
}

.player {
  width: 128px;
  height: 128px;
}

.robot {
  width: 128px;
  height: 128px;
}

.container section {
  display: inline-block;
}

.playground div {
  display: inline-block;
  margin: 10px;
}

.human {
  position: relative;
  top: 50px;
  text-align: center;
  left: 15%;
  float: left;
}

.human h2 {
  position: relative;

}

.vertical-line {
  border-right: 2px solid gray;
  height: 60%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 70px;
}

.computer {
  position: relative;
  top: 50px;
  text-align: center;
  right: 15%;
  float: right;
}

.computer h2 {
  position: relative;
  bottom: 10px;
}

.rock {
  height: 100px;
  width: 100px
}

.paper {

  height: 100px;
  width: 100px;
}

.scissors {
  height: 100px;
  width: 100px;
}

.score-board {
  position: relative;
  border: 4px solid black;
  border-radius: 10px;
  height: 70px;
  width: 70px;
  top: 10px;
  left: 39%;
}

.score-board span {
  line-height: 70px;
  font-size: 200%
}

.rule span {
  color: #863d3d;
  position: relative;
  left: 3%;
}

.rule {
  position: relative;
  top: 570px;
  width: 85%;
  left: 15%;
}

.result {
  position: absolute;
  margin-top: 50px;
  border: 4px solid gray;
  height: 70px;
  width: 20%;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result p {
  position: relative;
  font-size: 150%;
  text-align: center;
  top: 15px;
}
